.form,
.field{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.fieldpais{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgb(255, 255, 255);
}


.form input[type="text"],
.form select{
    padding: 1rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}


.submit{
    background-color: hsla(209, 96%, 21%, 0.856);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
}